page-quote-list {
h4{color:map-get($colors,danger);}
h2{color:map-get($colors,secondary);}
}

.newclass{
ion-row{
background-color:#A4CABC;
color:#fff;
}
}
.scheduledclass{
ion-row{
background-color:#EAB364;
color:#fff;
}
}
.lostclass{

ion-row{
background-color:#B2473E;
  color:#fff;
}
}
.completed{

ion-row{
background-color:#002c54;
color:#fff;
}
}
.inprocessclass{
ion-row{
background-color:#acbd78;
  color:#fff;
}
}
.completedclass{
ion-row{
background-color:#6f6f6f;
color:#f3f3f3;
}
}
.default{
ion-row{
background-color:#f3f3f3;
color:#6f6f6f;
}
}
