page-home {
.bgpat{
background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}
  h2{color:map-get($colors,light);
  text-align:center;
  }  
.buttoncard{
background-color:map-get($colors,light);
width: calc(100% - 10px);
        padding: 14px;
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.10);
border-radius: 24px;
.button,.item{ background-color:map-get($colors,light);}
.card,.card-content,.card-header{
     background-color:map-get($colors,light);
            font-weight: 200;
           
            text-align:center;
  h1{color:map-get($colors,primary);}      
}

}

}